.container_quote {
  width: 100%;
  height: 509px;
  background: url('../../img/bg-2.svg') no-repeat center;
  background-size: cover;
  text-align: center;
  margin-top: 100px;
  padding-top: 95px;
}

.container_quote h1 {
  font-size: 2.5rem;
  line-height: 3.5625;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
}

.container_quote p {
  font-size: 1.5rem;
  line-height: 2.375;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  padding-bottom: 35px;
}

.btn {
  margin-top: 35px;
}

.btn-play {
  margin-left: 10px;
  background: var(--orange);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: bold;
  padding: 25px 50px;
  border-radius: 10px;
  transition: background 0.5s;
}

.btn-play:hover {
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 10px;
}

.btn-app {
  margin-left: 20px;
  background: transparent;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: bold;
  padding: 22px 50px;
  border: 2px solid var(--white);
  border-radius: 10px;
  transition: background 0.5s;
}

.btn-app:hover {
  background: var(--orange);
  border-color: var(--orange);
}

/*RESPONSIVE*/
@media only screen and (max-width: 787px) {
  .container_quote {
    background: none;
    background-color: #252b42;
    margin: 50px auto;
    text-align: center;
    height: 700px;
  }
  .container_quote h1 {
    margin-top: -80px;
    max-width: 375px;
    margin-left: 88px;
  }

  .container_quote p {
    max-width: 375px;
    margin-left: 88px;
  }
}
