.menu {
  background: var(--white);
  max-width: 1440px;
  margin: 0 auto -10px auto;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-nav a {
  max-width: 580px;
  margin-top: 25px;
  margin-right: 70px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: block;
  padding: 10px;
  color: var(--black);
}

a.active {
  color: var(--orange);
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/*INTRO*/
.intro {
  background: url('../img/background.svg') no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
}

.intro p {
  color: var(--white_text);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding-bottom: 35px;
}

.intro h1 {
  color: var(--white);
  font-size: 3.625rem;
  line-height: 5rem;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 15px;
}

.intro h4 {
  color: var(--white_text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.375rem;
  padding-bottom: 35px;
}

.intro a.btn-playStore {
  margin-left: 110px;
  background: var(--orange);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: bold;
  padding: 15px 50px;
  border: 2px solid var(--orange);
  border-radius: 30px;
  /* cursor: pointer; */
  transition: background 0.5s;
}

.intro a.btn-playStore:hover {
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 30px;
}

.intro a.btn-appStore {
  margin-left: 50px;
  background: transparent;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: bold;
  padding: 15px 50px;
  border: 2px solid var(--white);
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.5s;
}

.intro a.btn-appStore:hover {
  background: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 30px;
}

/***/
.img-cell img {
  max-width: 960px;
  margin: -280px 290px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}

/**/
.app {
  max-width: 960px;
  margin: 280px auto;
  padding: 80px 0;
  text-align: center;
  border-top: 3px solid #e4e4e4;
}

.app h1 {
  font-size: 2.75rem;
  line-height: 2.25rem;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/*FOOTER*/
.footer {
  max-width: 1210px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.redes ul {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.redes ul li {
  cursor: pointer;
  margin-left: 25px;
}

.footer p {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: bold;
  color: #5c5c5c;
}

/*RESPONSIVO*/
/* @media only screen and (min-width: 728px) and (max-width: 979px) {
  
} */

@media only screen and (max-width: 787px) {
  .menu-logo {
    margin: 0 auto;
  }

  .menu-nav ul li {
    display: none;
  }

  .intro {
    background: #fafafa;
    margin-top: 0px;
    padding: 40px;
    text-align: center;
  }

  .intro p {
    color: #737373;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .intro h1 {
    color: #252b42;
    font-size: 2.25rem;
    line-height: 2, 65625rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
  }

  .intro h4 {
    color: #737373;
  }

  .intro a.btn-playStore {
    text-align: center;
    display: block;
    margin: 0 auto 25px auto;
  }

  .intro a.btn-playStore:hover {
    background: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
  }

  .intro a.btn-appStore {
    display: block;
    color: var(--orange);
    border-color: var(--orange);
    text-align: center;
    display: block;
    margin: 0 auto 25px auto;
  }

  .intro a.btn-appStore:hover {
    background: var(--orange);
    color: var(--white);
  }

  .img-cell img {
    /* margin: -100px -120px 10px; */
    max-width: 360px;
    margin: 0px 65px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
  }

  .app {
    text-align: center;
    border: none;
  }

  .app h1 {
    text-align: center;
    margin: -380px auto 10px auto;
    padding-bottom: 30px;
    border-bottom: 3px solid #e4e4e4;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .img_respo {
    display: none;
  }

  .redes ul {
    margin-top: -35px;
    margin-right: 25px;
  }

  .footer p {
    /* margin-left: 150px; */
    margin: 20px auto;
  }
}
